@model Integrator.Models.Socio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Socio</h4>
        <hr />
        @Html.ValidationSummary(true)




        <div class="form-group">
            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre)
                @Html.ValidationMessageFor(model => model.nombre)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ci, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ci)
                @Html.ValidationMessageFor(model => model.ci)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <table>
                    <tr>
                        @{
                            int cnt = 0;
                            List<Integrator.ViewModels.AssignedPromoData> promos = ViewBag.Promos;
                            foreach (var prom in promos){
                                if (cnt++ % 3 == 0)
                                {
                                    @:</tr><tr>
                                }
                                @:  <td>
                    <input type="checkbox"
                           name="selectedPromos"
                           value="@prom.PromoID"
                           @(Html.Raw(prom.assigned ? "checked=\"checked\"" : "")) />
                                    @prom.PromoID @:  @prom.nombre
                                    @:</td>
                            }
                            @:</tr>
                        }
                </table>
            </div>
        </div>

























        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
