@model Integrator.Models.Evento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Evento</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioGeneral)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioGeneral)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.calendario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.calendario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
