@model Integrator.Models.Promociones.PromoPercen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PromoPercen</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.percen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.percen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PromoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
